@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
  
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input {
  outline: none;
  border: none;
}

.logo img {
  width: 90px;
}

#main {
  width: 100%;
  height: 768px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./images/banner.png');
  position: relative;
  z-index: 0;
}

#main::before {
  position: absolute;
  content: "";
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.38) 0%, rgba(0, 0, 0, 0.6) 100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

